<div class="card me-4 mb-4">
  <div class="card-body">
    <h3 class="card-title">{{full_name}}</h5>
    <p class="fw-bold card-text">Phone Number:</p>
    <p class="card-text">{{phone_number}}</p>
    <p class="fw-bold card-text">Email:</p>
    <p class="card-text">{{email}}</p>
    <p class="fw-bold card-text">Tags:</p>
    <p class="card-text">{{> tags tags}}</p>
    <a data-contact-id="{{id}}" class="edit btn btn-outline-primary">Edit</a>
    <a data-contact-id="{{id}}" data-name="{{full_name}}" class="delete btn btn-outline-primary">Delete</a>
  </div>
</div>